In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("titanic_1.csv")
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace =True)

In [10]:
df.head(3)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250

In [11]:
input = df.drop('Survived',axis='columns')
target = df.Survived

In [14]:
input.Sex = input.Sex.map({'male':1,'female':2})

In [17]:
input.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [19]:
input.Age =  input.Age.fillna(input.Age.mean())

In [21]:
input.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train , x_test, y_train , y_test = train_test_split(input,target, test_size=0.2)

In [24]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [25]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [26]:
model.predict(x_test)

array([1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 1, 1], dtype=int64)

In [33]:
#len(x_test)
x_test.head()

     Pclass  Sex        Age     Fare
717       2    2  27.000000  10.5000
882       3    2  22.000000  10.5167
303       2    2  29.699118  12.3500
135       2    1  23.000000  15.0458
321       3    1  27.000000   7.8958

In [32]:
#model.predict([[0,3,1,22,75.00]])
x_test.size

716

In [35]:
model.predict([[2,	1	,23.000000	,15.0458]])

C:\Users\Asus\AppData\Roaming\Python\Python38\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [37]:
model.score(x_test,y_test)

0.7932960893854749